.search_item {
  outline: none;
  padding: 10px 40px;
  border: 1px solid #5c8a9e;
  margin: 20px 0;
  border-radius: 2px;
}

.filter_content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sortItem {
  padding: 10px 30px;
  margin: 10px 0;
}
