.btn {
  padding: 10px 30px;
  background-color: #b3b792;
  outline: none;
  border: 1px solid transparent;
  border-radius: 8px;
}

/* 
темно-коричневый - #534839
зеленый -#b3b792
белый - #b3b7920c
*/
